# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

start mapmanager
start chat
start spawnmanager
start fivem
start hardcap
start rconlog
start fx_customs
start ft_menuBuilder
start supertable
start mysql-async
start pNotify

sv_scriptHookAllowed 1

# change this
rcon_password example

sv_hostname "Example Server"

# nested configs!
#exec server_internal.cfg

# disable announcing? clear out the master by uncommenting this
sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
sv_authMaxVariance 1
sv_authMinTrust 5

# loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars for use from script
set mysql_connection_string "server=127.0.0.1;database=gta;userid=root;password=1234"  # THIS IS REQUIRED FOR MYSQL ASYNC TO WORK

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000101 group.admin # add the admin to the group