# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# convars for use from script CHANGE THE PASSWORD AND USERID TO YOUR ACTUAL USERID AND PASSWORD
set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=root;password=asdf"
set es_enableCustomData 1

start mapmanager
start chat
start spawnmanager
start fivem
start hardcap
start rconlog
start mysql-async
start essentialmode
start esplugin_mysql
start es_admin
start fx_customs
start ft_menuBuilder
start ft_ui
start pNotify


sv_scriptHookAllowed 1

# change this
rcon_password smile

sv_hostname "Sample hostname"

# nested configs!
#exec server_internal.cfg

# disable announcing? clear out the master by uncommenting this
sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
sv_authMaxVariance 1
sv_authMinTrust 5

# loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000101a64ff3 group.admin # add the admin to the group